<div class="container">
	<div class="hero-unit">
		<h1>Dragonfruit</h1>
		<p>Dragonfruit is more than just a delicious delicacy. It is also a game!</p>
	</div>

	<div class="row">
		<div class="span12">
			<h2>Play now!</h2>
			<%= form_tag do %>
				<%= label_tag(:username, "Name:") %>
				<%= text_field(:user, :name) %>
				<%= label_tag(:gamename, "Game:") %>
				<%= text_field(:user, :game) %>
				<%= submit_tag("Go") %>
			<% end %>
		</div>
	</div>
</div>