<!--<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @game.id %>
</p>

<p>
  <b>Sourceimage:</b>
  <%= @game.sourceImage %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>\

-->

<p>Temporary image here. Eventually this will be dynamically loaded when everybody is ready to play!</p>

<%= image_tag @sourceUrl %>
