<!--<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @game.id %>
</p>

<p>
  <b>Sourceimage:</b>
  <%= @game.sourceImage %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>\

-->

<p>Temporary image here. Eventually this will be dynamically loaded when everybody is ready to play!</p>

<%= image_tag @sourceUrl %>

<p>Got your cookie information right here!!!</p>
<p> <%= cookies[:name]%> </p>
<p> <%= cookies[:game] %> </p>
<p> <%= cookies[:gameId] %> </p>

<%= button_to "Start Game!", { :action => "start" } %>

<input id="userImage"></input>
<button id="submitImage">Submit</button>

<button id="viewImages">View Images</button>

<p>Images will get displayed below</p>

<div id="images"></div>

<button id="vote">Vote</button