<!--<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @game.id %>
</p>

<p>
  <b>Sourceimage:</b>
  <%= @game.sourceImage %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>\

-->

<%= javascript_include_tag "games/games" %>
<%= javascript_include_tag "games/jquery.webcam" %>

<%= button_to "Play again?", { :action => "restart" }, { :id => "restartGame", :remote => true } %>

<%= button_to "Start Game!", { :action => "start" }, { :id => "startGame", :remote => true } %>

<div id="sourceImg"></div>

<br>

<div id="images"></div>

<div id="winner"></div>

<hr>

<div id="camera"></div>
<div id="status"></div>
<canvas id="canvas" width="320" height="240"></canvas>