<h1>Listing source_images</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @source_images.each do |source_image| %>
  <tr>
    <td><%= source_image.id %></td>
    <td><%= source_image.url %></td>
    <td><%= link_to 'Show', source_image %></td>
    <td><%= link_to 'Edit', edit_source_image_path(source_image) %></td>
    <td><%= link_to 'Destroy', source_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source image', new_source_image_path %>
